<a href="https://colab.research.google.com/github/grbarbosa3/NLP/blob/main/%5BNLP5%5DTradutorSummarization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Transformers

In [11]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.17.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.11.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.63.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.49)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.6)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)

In [22]:
text = """Teach captured a French slave ship known as La Concorde, \
renamed her Queen Anne's Revenge, equipped her with 40 guns, and crewed her with over 300 men. \
He became a renowned pirate, his nickname derived from his thick black beard and fearsome appearance;\
he was reported to have tied lit fuses (slow matches) under his hat to frighten his enemies. \
He formed an alliance of pirates and blockaded the port of Charles Town, South Carolina, ransoming the port's inhabitants. \
He then ran Queen Anne's Revenge aground on a sandbar near Beaufort, North Carolina. He parted company with Bonnet and settled in Bath,\
North Carolina, also known as Bath Town, where he accepted a royal pardon. However, he was soon back at sea, where he attracted the attention of Alexander Spotswood,\
the Governor of Virginia. Spotswood arranged for a party of soldiers and sailors to capture him;\
on 22 November 1718 following a ferocious battle Teach and several of his crew were killed by a small force of sailors led by Lieutenant Robert Maynard."""


#text = """Port Royal was once home to privateers who were encouraged to attack Spanish vessels, \
#at a time when smaller European nations were reluctant to attack Spain directly.\
#As a port city, it was notorious for its gaudy displays of wealth and loose morals. \
#It was a popular homeport for the English and Dutch-sponsored privateers to spend their treasure during the 17th century.\
#When those governments abandoned the practice of issuing letters of marque to privateers against the Spanish treasure fleets and possessions in the later 16th century, \
#many of the crews turned pirate. They continued to use the city as their main base during the 17th century. \
#Pirates from around the world congregated at Port Royal, coming from waters as far away as Madagascar."""

### Text Classification

In [23]:
#hide_output
from transformers import pipeline

classifier = pipeline("text-classification")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

In [24]:
import pandas as pd

outputs = classifier(text)
pd.DataFrame(outputs)

      label     score
0  POSITIVE  0.733691

### Named Entity Recognition

In [25]:
ner_tagger = pipeline("ner", aggregation_strategy="simple")
outputs = ner_tagger(text)
pd.DataFrame(outputs)

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english)

   entity_group     score                  word  start   end
0           PER  0.996628                 Teach      0     5
1          MISC  0.998220                French     17    23
2          MISC  0.898502           La Concorde     44    55
3          MISC  0.862239  Queen Anne's Revenge     69    89
4           LOC  0.997325          Charles Town    405   417
5           LOC  0.999493        South Carolina    419   433
6          MISC  0.778158  Queen Anne's Revenge    481   501
7           LOC  0.995728              Beaufort    528   536
8           LOC  0.999424        North Carolina    538   552
9           PER  0.997557                Bonnet    577   583
10          LOC  0.998202                  Bath    599   603
11          LOC  0.999407        North Carolina    604   618
12          LOC  0.997809             Bath Town    634   643
13          PER  0.985139   Alexander Spotswood    749   768
14          LOC  0.996356              Virginia    785   793
15          PER  0.963096                 Spots    795   800
16          PER  0.993016                 Teach    914   919
17          PER  0.999240        Robert Maynard   1002  1016

### Question Answering

In [26]:
reader = pipeline("question-answering")
question = "Who was Alexander Spotswood?"
outputs = reader(question=question, context=text)
pd.DataFrame([outputs])

No model was supplied, defaulted to distilbert-base-cased-distilled-squad (https://huggingface.co/distilbert-base-cased-distilled-squad)

      score  start  end                    answer
0  0.497814    769  793  the Governor of Virginia

### Summarization

In [17]:
summarizer = pipeline("summarization")
outputs = summarizer(text, max_length=45, clean_up_tokenization_spaces=True)
print(outputs[0]['summary_text'])

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 (https://huggingface.co/sshleifer/distilbart-cnn-12-6)
Your min_length=56 must be inferior than your max_length=45.

 Port Royal was a popular homeport for English and Dutch privateers to spend their treasure during the 17th century. Pirates from around the world congregated at Port Royal, coming from waters as far away as Madagascar

### Translation

In [18]:
translator = pipeline("translation_en_to_de", 
                      model="Helsinki-NLP/opus-mt-en-de")
outputs = translator(text, clean_up_tokenization_spaces=True, min_length=100)
print(outputs[0]['translation_text'])

ValueError: ignored

### Text Generation

In [ ]:
#hide
from transformers import set_seed
set_seed(42) # Set the seed to get reproducible results

In [ ]:
generator = pipeline("text-generation")
response = "Dear Bumblebee, I am sorry to hear that your order was mixed up."
prompt = text + "\n\nCustomer service response:\n" + response
outputs = generator(prompt, max_length=200)
print(outputs[0]['generated_text'])

In [ ]:
# https://www.philschmid.de/huggingface-transformers-keras-tf

In [ ]:
# https://huggingface.co/course/chapter2/3?fw=pt
# https://huggingface.co/models
# https://huggingface.co/